

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://db.onlinewebfonts.com/c/5cae74f63bd48d24d5abdddb3af09a50?family=Airbnb+Cereal+App+Black");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
  font-family: AirbnbCereal;
  src: url("../src/Fonts/AirbnbCereal_W_XBd.otf");
}

@font-face {
  font-family: AirbnbCereal2;
  src: url("../src/Fonts/AirbnbCereal_W_Md.otf");
}

@font-face {
  font-family: Mulish;
  src: url('https://fonts.googleapis.com/css?family=Mulish');
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/Assets/92b19a4aa6910ccbe1e0a5dbc4a212e6.jpeg");
  background-color: rgba(0, 0, 0, 0.54);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
}

.nav{
  background-color: white;
  width: 500px;
  height: 80px;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 60px;
   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  height: 100px;
}

.logo{
  width: 165px;
  height: 41px;
}

.menu{
  display: none;
}

.menu2{
  display: none;
}

.pageTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

.pageTwo h1{
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTwo p{
  width: 884px;
  font-size: 25px;
  line-height: 34.1px;
  font-weight: 400px;
  text-align: center;
}

.join{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.join button{
  width: 224px;
  margin-top: 10px;
  color: #1637FF;
  height: 59px;
  border-radius: 8px;
  padding: 16px, 22px, 16px, 22px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.connect-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}

.share-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.share-text p{
  width: 638px;
  text-indent: 20px;
  word-wrap: break-word;
  height: 132px;
  text-align: center;
}

.share-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 51px;
}

.promote-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.informed-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.informed-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.informed-text p{
  width: 638px;
  height: 132px;
}

.footer{
  background-color: #1637FF;
  width: 200%;
  overflow-x: hidden;
  height: 94px
}

.top-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.top-footer p{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.logo2{
  height: 13px;
  width: 13px;
}

@media(min-width: 320px) and (max-width: 350px){

}

@media(min-width: 360px) and (max-width: 365px){
  .nav{
    margin-top: -50px;
  }

  body{
    overflow-x: hidden;
  }

  .content h1{
    color: #fff;
    font-size: 24px;
    width: 350px;
  }

  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content h1{
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff;
    width: 300px;
  }

  .content p{
    width: 350px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }
}

@media screen and (max-width: 374px), 
       screen and (max-height: 813px) {

        .nav{
          margin-top: -200px;
        }

        body{
          overflow-x: hidden;
        }
      
        .logo{
        }
      
        .pageTwo{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .pageTwo h1{
          font-size: 26px;
        }
      
        .pageTwo p{
          width: 350px;
          font-size: 24px;
        }
        .images{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .athletes{
          width: 250px;
          height: 250px;
        }
        .coaches{
          width: 250px;
          height: 250px;
        }
        .team{
          width: 250px;
          height: 250px;
        }
        .video{
          width: 250px;
          height: 250px;
        }
      
        .join p{
          font-size: 24px;
        }
      
        .connect-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .share-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .promote-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .informed-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .connect{
          width: 250px;
          height: 250px;
        }
      
        .connect-text h1{
          font-size: 26px;
        }
      
        .connect-text p{
          font-size: 24px;
        }
        .share{
          width: 250px;
          height: 250px;
          margin-top: 50px;
        }
      
        .share-text h1{
          font-size: 26px;
        }
      
        .share-text p{
          font-size: 24px;
        }
        .promote{
          width: 250px;
          height: 250px;
        }
      
        .promote-container{
          width: 250px;
          margin-top: 20px;
        }
      
        .information{
          width: 250px;
          height: 250px;
          margin-top: 100px;
        }
      
        .content{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .content h1{
          color: #fff;
          font-size: 24px;
          font-style: normal;
          font-weight: 800 ;
          line-height: normal;
          font-weight: 800;
          line-height: normal;
          font-family: AirbnbCereal;
          color: #fff;
          width: 300px;
        }
      
        .content p{
          width: 300px;
          color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 3;
        font-style: normal;
        font-family: AirbnbCereal2;
        font-weight: 500;
        }
}

@media screen and (max-width: 375px), 
       screen and (max-height: 668px) {

        .nav{
          margin-top: -50px;
        }
        body{
          overflow-x: hidden;
        }
      
        .logo{
        }
      
        .pageTwo{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .pageTwo h1{
          font-size: 26px;
        }
      
        .pageTwo p{
          width: 350px;
          font-size: 24px;
        }
        .images{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .athletes{
          width: 250px;
          height: 250px;
        }
        .coaches{
          width: 250px;
          height: 250px;
        }
        .team{
          width: 250px;
          height: 250px;
        }
        .video{
          width: 250px;
          height: 250px;
        }
      
        .join p{
          font-size: 24px;
        }
      
        .connect-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .share-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .promote-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .informed-container{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .connect{
          width: 250px;
          height: 250px;
        }
      
        .connect-text h1{
          font-size: 26px;
        }
      
        .connect-text p{
          font-size: 24px;
        }
        .share{
          width: 250px;
          height: 250px;
          margin-top: 50px;
        }
      
        .share-text h1{
          font-size: 26px;
        }
      
        .share-text p{
          font-size: 24px;
        }
        .promote{
          width: 250px;
          height: 250px;
        }
      
        .promote-container{
          width: 250px;
          margin-top: 20px;
        }
      
        .information{
          width: 250px;
          height: 250px;
          margin-top: 100px;
        }
      
        .content{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      
        .content h1{
          color: #fff;
          font-size: 24px;
          font-style: normal;
          font-weight: 800 ;
          line-height: normal;
          font-weight: 800;
          line-height: normal;
          font-family: AirbnbCereal;
          color: #fff;
          width: 300px;
        }
      
        .content p{
          width: 300px;
          color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 3;
        font-style: normal;
        font-family: AirbnbCereal2;
        font-weight: 500;
        }
}

@media(min-width: 374px) and (max-width: 375px){
  .nav{
    margin-top: -40px;
    max-height: 80px
  }

  body{
    overflow-x: hidden;
  }

  .logo{
  }

  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content h1{
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff;
    width: 300px;
  }

  .content p{
    width: 300px;
    color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }
}

@media(min-width: 384px) and (max-width: 390px){
  .nav{
    margin-top: -430px;
  }
  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body{
    overflow-x: hidden;
  }

  .content h1{

  }

  .pageTwo h1{
    font-size: 26px;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

@media(min-width: 390px) and (max-width: 394px){
  .nav{
    margin-top: -430px;
  }
  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body{
    overflow-x: hidden;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

@media(min-width: 410px) and (max-width: 412px){
  .nav{
    margin-top: -460px;
  }
  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  body{
    overflow-x: hidden;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

@media(min-width: 413px) and (max-width: 415px){
  .nav{
    margin-top: -410px;
  }
  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body{
    overflow-x: hidden;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

@media(min-width: 428px) and (max-width: 428px){
  .nav{
    margin-top: -470px;
    border-radius: 0px;
  }
  .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pageTwo h1{
    font-size: 26px;
  }

  body{
    overflow-x: hidden;
  }

  .pageTwo p{
    width: 350px;
    font-size: 24px;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .athletes{
    width: 250px;
    height: 250px;
  }
  .coaches{
    width: 250px;
    height: 250px;
  }
  .team{
    width: 250px;
    height: 250px;
  }
  .video{
    width: 250px;
    height: 250px;
  }

  .join p{
    font-size: 24px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .connect{
    width: 250px;
    height: 250px;
  }

  .connect-text h1{
    font-size: 26px;
  }

  .connect-text p{
    font-size: 24px;
  }
  .share{
    width: 250px;
    height: 250px;
    margin-top: 50px;
  }

  .share-text h1{
    font-size: 26px;
  }

  .share-text p{
    font-size: 24px;
  }
  .promote{
    width: 250px;
    height: 250px;
  }

  .promote-container{
    width: 250px;
    margin-top: 20px;
  }

  .information{
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}


@media(min-width: 429px) and (max-width: 500px){
  .nav{
    margin-top: -30px;
    border-radius: 0px;
  }

  .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content h1{
    color: #fff;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff;
    font-size: 24px;
  }

  .content p{
    width: 300px;
    color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }

   .content h1{
    width: 400px;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .pageTwo h1{
    font-size: 20px;
    width: 400px;
   }

   .pageTwo p{
    width: 400px;
    font-size: 24px;
   }

   .athletes{
    width: 250px;
    height: 250px
   }

   .connect-text p{
    font-size: 20px;
   }

   .share-text p{
    font-size: 20px;
   }

   .promote-text p{
    font-size: 20px;
   }

   .informed-text p{
    font-size: 20px;
   }

   .coaches{
    width: 250px;
    height: 250px;
   }

   .team{
    width: 250px;
    height: 250px;
   }

   .video{
    width: 250px;
    height: 250px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 300px;
    height: 300px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
    margin-top: 20px;
   }

   .join p{
    font-size: 20px;
   }

   .pageTwo p{
    font-size: 20px;
   }

   .connect{
    height: 300px;
    width: 300px
   }

   .share{
    width: 300px;
    height: 300px
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
}

@media(min-width: 501px) and (max-width: 600px){
  .nav{
    margin-top: -10px;
    border-radius: 0px;
    width: 600px;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content h1{
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff;
    width: 400px;
  }

  .content p{
    width: 500px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .athletes{
    width: 250px;
    height: 250px;
   }

   .coaches{
    width: 250px;
    height: 250px;
   }

   .team{
    width: 250px;
    height: 250px;
   }

   .video{
    width: 250px;
    height: 250px;
   }

   .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .pageTwo p{
    width: 400px;
    font-size: 20px;
   }

   .pageTwo h1{
    font-size: 24px;
   }

   .join p{
    font-size: 20px;
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .connect{
    width: 300px;
    height: 300px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .share{
    width: 300px;
    height: 300px
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 300px;
    height: 300px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
   }

}

@media(min-width: 601px) and (max-width: 700px){
  .nav{
   margin-top: -40px;
   border-radius: 0px;
   width: 700px
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content h1{
    color: #fff;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff
  }

  .content p{
    width: 500px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .athletes{
    width: 250px;
    height: 250px;
   }

   .coaches{
    width: 250px;
    height: 250px;
   }

   .team{
    width: 250px;
    height: 250px;
   }

   .video{
    width: 250px;
    height: 250px;
   }

   .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .pageTwo p{
    width: 400px;
    font-size: 20px;
   }

   .pageTwo h1{
    font-size: 24px;
   }

   .join p{
    font-size: 20px;
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .connect{
    width: 300px;
    height: 300px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .share{
    width: 300px;
    height: 300px
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 300px;
    height: 300px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
   }
}

@media(min-width: 701px) and (max-width: 769px){
 .nav{
  margin-top: -10px;
  border-radius: 0px;
  width: 800px;
 } 

 .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.content h1{
  color: #fff;
  font-style: normal;
  font-weight: 800 ;
  line-height: normal;
  font-weight: 800;
  line-height: normal;
  font-family: AirbnbCereal;
  color: #fff
}

.content p{
  width: 500px;
  color: #fff;
text-align: center;
font-size: 22.5px;
line-height: 3;
font-style: normal;
font-family: AirbnbCereal2;
font-weight: 500;
}

.content2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 
 .content2 h2{
   color: white;
 }
 
 .content2 button{
   border-radius: 30px;
   background-color: #FFF;
   width: 234px;
   height: 50px;
   color: #00F;
   text-align: center;
   font-size: 24px;
   font-weight: 600;
   line-height: normal;
 }

 .athletes{
  width: 250px;
  height: 250px;
 }

 .coaches{
  width: 250px;
  height: 250px;
 }

 .team{
  width: 250px;
  height: 250px;
 }

 .video{
  width: 250px;
  height: 250px;
 }

 .pageTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .pageTwo p{
  width: 400px;
  font-size: 20px;
 }

 .pageTwo h1{
  font-size: 24px;
 }

 .join p{
  font-size: 20px;
 }

 .connect-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .connect{
  width: 300px;
  height: 300px;
 }

 .share-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .share{
  width: 300px;
  height: 300px
 }

 .promote-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .promote{
  width: 300px;
  height: 300px
 }

 .informed-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .information{
  width: 300px;
  height: 300px;
 }

}

@media(min-width: 800px) and (max-width: 900px){
  .nav{
    margin-top: -10px;
    border-radius: 0px;
    width: 900px;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content h1{
    color: #fff;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff
  }

  .content p{
    width: 500px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .athletes{
    width: 250px;
    height: 250px;
   }

   .coaches{
    width: 250px;
    height: 250px;
   }

   .team{
    width: 250px;
    height: 250px;
   }

   .video{
    width: 250px;
    height: 250px;
   }

   .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .pageTwo p{
    width: 400px;
    font-size: 20px;
   }

   .pageTwo h1{
    font-size: 24px;
   }

   .join p{
    font-size: 20px;
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .connect{
    width: 300px;
    height: 300px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .share{
    width: 300px;
    height: 300px
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 300px;
    height: 300px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
   }
}

@media(min-width: 901px) and (max-width: 1000px){
  .nav{
    margin-top: -50px;
    width: 1000px;
    border-radius: 0px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content h1{
    color: #fff;
    font-style: normal;
    font-weight: 800 ;
    line-height: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff
  }

  .content p{
    width: 500px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .athletes{
    width: 250px;
    height: 250px;
   }

   .coaches{
    width: 250px;
    height: 250px;
   }

   .team{
    width: 250px;
    height: 250px;
   }

   .video{
    width: 250px;
    height: 250px;
   }

   .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .pageTwo p{
    width: 400px;
    font-size: 20px;
   }

   .pageTwo h1{
    font-size: 24px;
   }

   .join p{
    font-size: 20px;
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .connect{
    width: 300px;
    height: 300px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .share{
    width: 300px;
    height: 300px
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 500px;
    height: 500px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
   }
   
  
}

@media(min-width: 1001px) and (max-width: 1200px){
  .nav{
    margin-top: -30px;
    width: 1200px;
    border-radius: 0px;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content h1{
    color: #fff;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff
  }

  .content p{
    width: 500px;
    color: #fff;
  text-align: center;
  font-size: 22.5px;
  line-height: 3;
  font-style: normal;
  font-family: AirbnbCereal2;
  font-weight: 500;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   
   .content2 h2{
     color: white;
   }
   
   .content2 button{
     border-radius: 30px;
     background-color: #FFF;
     width: 234px;
     height: 50px;
     color: #00F;
     text-align: center;
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }

   .athletes{
    width: 270px;
    height: 270px;
   }

   .coaches{
    width: 270px;
    height: 270px;
   }

   .team{
    width: 270px;
    height: 270px;
   }

   .video{
    width: 270px;
    height: 270px;
   }

   .pageTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   }

   .pageTwo p{
    width: 800px;
    font-size: 26px;
   }

   .pageTwo h1{
    font-size: 24px;
   }

   .join p{
    font-size: 24px;
   }

   .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .connect{
    width: 300px;
    height: 300px;
   }

   .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .share{
    width: 300px;
    height: 300px
   }

   .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .promote{
    width: 300px;
    height: 300px
   }

   .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .information{
    width: 300px;
    height: 300px;
   }
   
  
}

@media(min-width: 1201px) and (max-width: 1300px){
  .nav{
  background-color: white;
  width: 1200px;
  height: 80px;
  margin-top: -300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 60px;
   box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  height: 80px;
}

.menu{
  display: flex;
}

.toggle{
  display: none;
}

.menu2{
  display: flex;
}
.nav{
  background-color: white;
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  margin-top: -20px;
  border-radius: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  height: 80px;
  }

  .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    
  }

  .menu2{
    display: flex;
    justify-content: flex-end;
    gap: 20px
  }


  .content p{
    font-size: 32px;
    width: 1076px;
  }

  .toggle{
    display: none;
  }
  .links3{
    margin-top: -30px;
  }
  .link{
    color: #000;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  
  .link2{
    background-color: #00F;
    border-radius: 30px;
    width: 140px;
    font-family: Mulish;
    height: 50px;
    color: #fff
  }
  
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  
  }
  
  .content h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: AirbnbCereal;
    color: #fff
  }
  
  .content p{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-family: AirbnbCereal2;
    font-weight: 500;
    line-height: normal;
  }
  
  p{
    width: 50%;
  }
  
  .content2{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  
  .content2 h2{
    color: white;
  }
  
  .content2 button{
    border-radius: 30px;
    background-color: #FFF;
    width: 234px;
    height: 50px;
    color: #00F;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
  }
  
  .links3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 50px;
  }
  
  .link4{
    color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
  text-decoration: none;
  }
  
  .container2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form{
    width: 650px;
    height: 650px;
    border-radius: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
  }
  
  .header{
    margin-top: 300px;
  }
  
  .already p{
    white-space: nowrap;
  }
  
  .terms{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
  }
  
  .create button{
    padding: 12px 68px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #002DAC;
  }
  
  .bgDark{
    background: rgba(0, 0, 0, 0.75);
      width: 100vw;
      height: 100vh;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .header-content h2{
    color: #000;
    font-family: AirbnbCereal;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: -5px;
  }
  
  .signInButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 273.987;
    height: 50px;
    padding: 14px 93.987px 13px 94px;
    gap: 20px;
  }
  
  .signInButtons{
    width: 273.987;
    height: 50px;
    padding: 14px 93.987px 13px 94px;
    border-radius: 30px;
    border: 1px solid #002DAC;
    background-color: #fff;
  }
  
  .signInButton2{
    width: 273.987;
    height: 50px;
    padding: 13px 0px 14px 0px;
    border-radius: 30px;
    border: 1px solid #002DAC;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .text p{
    font-size: 16px;
    font-family: AirbnbCereal;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .inputs input{
    width: 120px;
    padding: 15px 482px 14px 16px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #000;
    align-items: center;
    gap: 10px;
  }
  
  .inputs2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
  }
  
  .inputs2 input{
   
  }
  
  .inputs3{
   display: flex;
   justify-content: center;
   align-self: center;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
  }
  
  .inputs3 input{
    width: 120px;
    padding: 15px 482px 14px 16px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #000;
    align-items: center;
    gap: 10px;
  }
  .styles1{
    width: 110px;
    padding: 14px 179px 15px 16px;
    border-radius: 30px;
    border: 1px solid #000;
  }
  
  .styles{
    width: 1px;
  }
  
  .inputs4{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  
  .inputs4 input{
    width: 110px;
    padding: 14px 179px 15px 16px;
    border-radius: 30px;
    border: 1px solid #000;
    margin-top: 10px;
  }
  
  .inputs5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .inputs5 input{
    width: 110px;
    padding: 14px 179px 15px 16px;
    border-radius: 30px;
    border: 1px solid #000;
    margin-top: 10px;
  }
  .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .header-content h1{
    line-height: 112.5px;
    top: 0;
  }
  
  .header-content p{
    color: #000;
    font-size: 25px;
    font-weight: 400;
    width: 844px;
    text-align: center;
    line-height: 2;
  }
  
  .getStarted{
    margin-top: 40px;
  }

  .athletes{
    width: 290px;
    height: 290px;
  }

  .coaches{
    width: 290px;
    height: 290px;
  }
  .team{
    width: 290px;
    height: 290px;
  }
  .video{
    width: 290px;
    height: 290px;
  }

  .pageTwo h1{
    font-size: 28px;
  }

  .pageTwo p{
    font-size: 24px;
  }

  .join button{
    margin-top: -20px;
    height: 50px;
  }

  .connect-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .share-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .promote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .informed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .join p{
    font-size: 24px;
  }

  
}

@media(min-width: 1301px) and (max-width: 1600px){
  .nav{
    background-color: white;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: -20px;
    border-radius: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    height: 80px;
    }
  
    .menu{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 40px;
      flex-direction: row;
      
    }
  
    .menu2{
      display: flex;
      justify-content: flex-end;
      gap: 20px
    }
  
  
    .content p{
      font-size: 32px;
      width: 1076px;
    }
  
    .toggle{
      display: none;
    }
    .links3{
      margin-top: -30px;
    }
    .link{
      color: #000;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      align-items: center;
      text-align: center;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
    
    .link2{
      background-color: #00F;
      border-radius: 30px;
      width: 140px;
      font-family: Mulish;
      height: 50px;
      color: #fff
    }
    
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
    
    }
    
    .content h1{
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      font-family: AirbnbCereal;
      color: #fff
    }
    
    .content p{
      color: #fff;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-family: AirbnbCereal2;
      font-weight: 500;
      line-height: normal;
    }
    
    p{
      width: 50%;
    }
    
    .content2{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    }
    
    .content2 h2{
      color: white;
    }
    
    .content2 button{
      border-radius: 30px;
      background-color: #FFF;
      width: 234px;
      height: 50px;
      color: #00F;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
    }
    
    .links3{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      gap: 50px;
    }
    
    .link4{
      color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    text-decoration: none;
    }
    
    .container2{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    form{
      width: 650px;
      height: 650px;
      border-radius: 25px;
      background: #fff;
      display: flex;
      justify-content: center;
      overflow-y: scroll;
      overflow-x: hidden;
      align-items: center;
      flex-direction: column;
    }
    
    .header{
      margin-top: 300px;
    }
    
    .already p{
      white-space: nowrap;
    }
    
    .terms{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      white-space: nowrap;
    }
    
    .create button{
      padding: 12px 68px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: #002DAC;
    }
    
    .bgDark{
      background: rgba(0, 0, 0, 0.75);
        width: 100vw;
        height: 100vh;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-content h2{
      color: #000;
      font-family: AirbnbCereal;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: -5px;
    }
    
    .signInButton{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 273.987;
      height: 50px;
      padding: 14px 93.987px 13px 94px;
      gap: 20px;
    }
    
    .signInButtons{
      width: 273.987;
      height: 50px;
      padding: 14px 93.987px 13px 94px;
      border-radius: 30px;
      border: 1px solid #002DAC;
      background-color: #fff;
    }
    
    .signInButton2{
      width: 273.987;
      height: 50px;
      padding: 13px 0px 14px 0px;
      border-radius: 30px;
      border: 1px solid #002DAC;
    }
    
    .text{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .text p{
      font-size: 16px;
      font-family: AirbnbCereal;
      white-space: nowrap;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-wrap: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    
    .inputs input{
      width: 120px;
      padding: 15px 482px 14px 16px;
      display: flex;
      border-radius: 30px;
      border: 1px solid #000;
      align-items: center;
      gap: 10px;
    }
    
    .inputs2{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      gap: 10px;
    }
    
    .inputs2 input{
     
    }
    
    .inputs3{
     display: flex;
     justify-content: center;
     align-self: center;
     flex-direction: column;
     gap: 10px;
     margin-top: 20px;
    }
    
    .inputs3 input{
      width: 120px;
      padding: 15px 482px 14px 16px;
      display: flex;
      border-radius: 30px;
      border: 1px solid #000;
      align-items: center;
      gap: 10px;
    }
    .styles1{
      width: 110px;
      padding: 14px 179px 15px 16px;
      border-radius: 30px;
      border: 1px solid #000;
    }
    
    .styles{
      width: 1px;
    }
    
    .inputs4{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: row;
    }
    
    .inputs4 input{
      width: 110px;
      padding: 14px 179px 15px 16px;
      border-radius: 30px;
      border: 1px solid #000;
      margin-top: 10px;
    }
    
    .inputs5{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    
    .inputs5 input{
      width: 110px;
      padding: 14px 179px 15px 16px;
      border-radius: 30px;
      border: 1px solid #000;
      margin-top: 10px;
    }
    .header-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .header-content h1{
      line-height: 112.5px;
      top: 0;
    }
    
    .header-content p{
      color: #000;
      font-size: 25px;
      font-weight: 400;
      width: 844px;
      text-align: center;
      line-height: 2;
    }
    
    .getStarted{
      margin-top: 40px;
    }
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
